body {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

#board {
  background-color: rgb(104, 200, 255);
  height: 100vh;
}

.player {
  background-color: white;
  position: absolute;
}

.obstacle {
  background-color: violet;
  position: absolute;
}
